.web
*.db
*.py[cod]
assets/external/
.states
__pycache__/
.env
.github/instructions/instrucciones.instructions.md
.cursor/rules/rules.mdc
.vscode
.venv
.cursor
requirements.txt
.venv/

# Test files
test_*.py
